<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>登录页面</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
</head>
<body>
<div class="container"><br>
    <form action="" novalidate class="needs-validation">
        <div class="form-group">
            <label for="">用户名</label>
            <input type="text" class="form-control is-valid" placeholder="用户名">
            <div class="valid-feedback">邮箱正确!</div>
            <div class="invalid-feedback">邮箱不正确!</div>

        </div>
        <div class="form-group">
            <label for="">密码</label>
            <input type="password" class="form-control is-invalid" placeholder="密码">
            <div class="valid-feedback">密码格式正确!</div>
            <div class="invalid-feedback">密码格式不正确!</div>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="remember">
            <label class="custom-control-label" for="remember">记住我</label>
        </div>
        <button class="btn btn-primary">登录</button>
    </form>

    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function() {
            'use strict';
            window.addEventListener('load', function() {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>

</div>
<script src="../../static/js/jquery.min.js"></script>
<script src="../../static/js/bootstrap.bundle.min.js"></script>
</body>
</html>