<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>详情</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>

<!-- 导航栏 -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top" th:replace="index::header">
    <a href="#" class="navbar-brand">Mini Blog</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <div class="navbar-nav">
                <a href="#" class="nav-item nav-link active">首页</a>
                <a href="#" class="nav-item nav-link">消息<span class="badge badge-pill badge-danger">99+</span></a>
                <a href="#" class="nav-item nav-link">注册</a>
                <a href="#" class="nav-item nav-link">登录</a>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">username</a>
                    <div class="dropdown-menu">
                        <a href="#" class="dropdown-item">个人信息</a>
                        <a href="#" class="dropdown-item">退出登录</a>
                    </div>
                </li>
            </div>
        </ul>
        <form action="" class="form-inline my-2 my-md-0">
            <input type="text" class="form-control mr-sm-2" placeholder="请输入关键字">
            <button class="btn btn-outline-success my-2 my-md-0">搜索</button>
        </form>
    </div>
</nav>

<!-- 详情主体 -->
<div class="container"><br>

    <!-- 微博详情 -->
    <div class="card">
        <div class="card-body">
            <div class="media pb-3 border-bottom">
                <a th:href="@{|/user/profile/${postVO.actor.id}|}">
                    <img th:src="${postVO.actor.headerUrl}" class="align-self-start mr-4 rounded-circle user-header" alt="用户头像" style="width:65px;height:65px;">
                </a>
                <div class="media-body">
                    <h5 class="card-title" th:utext="${postVO.actor.username}">username</h5>
                    <div class="text-muted mt-3">
                        发布于 <b th:text="${#dates.format(postVO.post.createTime, 'yyyy-MM-dd HH:mm:ss')}">2019-04-15 15:32:18</b>
                    </div>
                </div>
            </div>
            <p class="card-text" th:utext="${postVO.post.content}">微博内容</p>
            <!-- 隐藏的输入框来保存帖子 id -->
            <input type="hidden" id="postId" th:value="${postVO.post.id}">
            <a href="javascript:;" th:onclick="|like(this,1,${postVO.post.id},${postVO.post.userId},${postVO.post.id});|" class="btn btn-outline-secondary btn-sm" id="likeBtn">
                <b th:utext="${postVO.likeStatus?'已赞':'赞'}">赞</b> <i th:utext="${postVO.likeCount}">11</i>
            </a>
            <button type="button" class="btn btn-outline-secondary btn-sm" id="deleteBtn"
                    th:if="${loginUser!=null&&loginUser.id==postVO.actor.id}">删除</button>
        </div>
    </div>
    <br>

    <!-- 评论框 -->
    <div class="card" th:if="${loginUser!=null}">
        <div class="card-body">
            <label for="content">发表评论</label>
            <!-- 隐藏的输入框来保存帖子 id -->
            <input type="hidden" id="postId" th:value="${postVO.post.id}">
            <textarea class="form-control" id="content"></textarea>
            <br>
            <button type="button" class="btn btn-success btn-sm" id="commentBtn">评论</button>
        </div>
    </div><br>

    <!-- 弹出提示框 -->
    <div class="modal fade" id="hintModal" tabindex="-1" role="dialog" aria-labelledby="hintModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="hintModalLabel">提示</h5>
                </div>
                <div class="modal-body" id="hintBody">
                    发布完毕!
                </div>
            </div>
        </div>
    </div>
    <br>

    <!-- 评论列表 -->
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">评论列表</h5>
            <div class="card" th:each="commentVO:${postVO.commentVOList}">
                <div class="card-body">
                    <div class="media pb-3 border-bottom">
                        <a th:href="@{|/user/profile/${commentVO.commentUser.id}|}">
                            <img th:src="${commentVO.commentUser.headerUrl}" class="align-self-start mr-4 rounded-circle user-header" alt="用户头像" style="width:65px;height:65px;">
                        </a>
                        <div class="media-body">
                            <h5 class="card-title" th:utext="${commentVO.commentUser.username}">username</h5>
                            <div class="text-muted mt-3">
                                发布于 <b th:text="${#dates.format(commentVO.comment.createTime, 'yyyy-MM-dd HH:mm:ss')}">2019-04-15 15:32:18</b>
                            </div>
                        </div>
                    </div>
                    <br>
                    <p class="card-text" th:utext="${commentVO.comment.content}">微博内容</p>
                    <a href="javascript:;" th:onclick="|like(this,2,${commentVO.comment.id},${commentVO.comment.userId},${postVO.post.id});|" class="btn btn-outline-secondary btn-sm" id="likeCommentBtn">
                        <b th:utext="${commentVO.likeStatus?'已赞':'赞'}">赞</b> <i th:utext="${commentVO.likeCount}">11</i>
                    </a>
                    <!-- TODO 回复评论功能 -->
<!--                    <button class="btn btn-outline-secondary btn-sm" type="button" data-toggle="collapse" th:data-target="|#collapse${commentVO.comment.id}|" aria-expanded="false" aria-controls="collapseExample">-->
<!--                        评论-->
<!--                    </button>-->
                    <a href="javascript:;" th:onclick="|deleteComment(this,${commentVO.comment.id});|" class="btn btn-outline-secondary btn-sm"
                       th:if="${loginUser!=null?loginUser.id==commentVO.comment.userId:false}"><b>删除</b></a>
<!--                    <div class="collapse" th:id="|collapse${commentVO.comment.id}|">-->
<!--                        <br>-->
<!--                        &lt;!&ndash; 前三评论 &ndash;&gt;-->
<!--                        <ul class="list-group">-->
<!--                            <li class="list-group-item">-->
<!--                                <div class="d-flex w-100 justify-content-between">-->
<!--                                    <h6 class="mb-1">comment user username</h6>-->
<!--                                    <small>评论于<span>3 days ago</span></small>-->
<!--                                </div>-->
<!--                                <p class="mb-1">comment</p>-->
<!--                                <button type="button" class="btn btn-outline-secondary btn-sm">点赞</button>-->
<!--                                <button type="button" class="btn btn-outline-secondary btn-sm">删除</button>-->
<!--                            </li>-->
<!--                            <a class="list-group-item list-group-item-action flex-column align-items-start">-->
<!--                                <small>查看更多</small>-->
<!--                            </a>-->
<!--                        </ul>-->

<!--                    </div>-->
                </div>
            </div>
            <br>
        </div>
    </div>
    <br>

    <!-- 分页 -->
    <nav aria-label="Page navigation" th:replace="index::page">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled"><a class="page-link" href="#">上一页</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item active"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>
            <li class="page-item"><a class="page-link" href="#">下一页</a></li>
        </ul>
    </nav>

    <br>
    <br>
    <br>
    <br>
    <br>
</div>

<!-- 页脚 -->
<nav class="navbar navbar-dark bg-dark justify-content-between sticky-bottom" th:replace="index::footer">
    <span class="navbar-text">
        Best wishes to you !
    </span>
    <span class="navbar-text">
        &copy; 2020 QiHang Hu <a href="https://github.com/A11Might/MiniBlog" title="主页">GitHub</a> - <a href="http://www.beian.miit.gov.cn/" title="信息产业部备案管理系统网址" target="_blank">陕ICP备19025889号</a>
    </span>
</nav>

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/post-detail.js}"></script>
<script th:src="@{/js/global.js}"></script>
</body>
</html>