<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>账号设置</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>

<!-- 导航栏 -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top" th:replace="index::header">
    <a th:href="@{/index}" class="navbar-brand">Mini Blog</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <div class="navbar-nav">
                <a th:href="@{/index}" class="nav-item nav-link">首页</a>
                <a href="#" class="nav-item nav-link" th:if="${loginUser!=null}">消息<span class="badge badge-pill badge-danger">99+</span></a>
                <a th:href="@{/register}" class="nav-item nav-link" th:if="${loginUser==null}">注册</a>
                <a th:href="@{/login}" class="nav-item nav-link" th:if="${loginUser==null}">登录</a>
                <li class="nav-item dropdown" th:if="${loginUser!=null}">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" th:utext="${loginUser.username}">username</a>
                    <div class="dropdown-menu">
                        <a th:href="@{|/user/profile/${loginUser.id}|}" class="dropdown-item text-center">个人主页</a>
                        <a th:href="@{/user/setting}" class="dropdown-item text-center">账号设置</a>
                        <a th:href="@{/logout}" class="dropdown-item text-center">退出登录</a>
                    </div>
                </li>
            </div>
        </ul>
        <form action="" class="form-inline my-2 my-md-0">
            <input type="text" class="form-control mr-sm-2" placeholder="请输入关键字">
            <button class="btn btn-outline-success my-2 my-md-0">搜索</button>
        </form>
    </div>
</nav>

<!-- 设置主体 -->
<div class="container"><br>

    <!-- 修改头像 -->
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">修改头像</h5>
            <br>
            <form enctype="multipart/form-data" method="post" th:action="@{/user/modifyheaderimage}">
					<div class="form-group">
                        <input type="file" th:class="|form-control-file ${error==null?'':'is-invalid'}|" name="headerImage" id="headerImage">
                        <div class="invalid-feedback" th:utext="${error}">图片格式不正确</div>
					</div>
                    <button type="submit" class="btn btn-primary">上传</button>
				</form>
        </div>
    </div>
    <br>

    <!-- 修改密码 -->
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">修改密码</h5>
            <br>
            <form method="post" th:action="@{/user/modifypassword}" novalidate class="needs-validation">
                <div class="form-group">
                    <label for="oldPassword">旧密码</label>
                    <input type="password"
                           th:class="|form-control ${oldPasswordMsg==null?'':'is-invalid'}|" placeholder="旧密码"
                           id="oldPassword" name="oldPassword" th:value="${oldPassword==null?'':oldPassword}">
                    <div class="invalid-feedback" th:utext="${oldPasswordMsg==null?'':oldPasswordMsg}">旧密码不正确</div>
                </div>
                <div class="form-group">
                    <label for="newPassword">新密码</label>
                    <input type="password"
                           th:class="|form-control ${newPasswordMsg==null?'':'is-invalid'}|" placeholder="新密码"
                           id="newPassword" name="newPassword" th:value="${newPassword==null?'':newPassword}">
                    <div class="invalid-feedback" th:utext="${newPasswordMsg==null?'':newPasswordMsg}">新密码不能为空</div>
                </div>
                <button type="submit" class="btn btn-primary">修改</button>
            </form>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
</div>

<!-- 页脚 -->
<nav class="navbar navbar-dark bg-dark justify-content-between sticky-bottom" th:replace="index::footer">
    <span class="navbar-text">
        Best wishes to you !
    </span>
    <span class="navbar-text">
        &copy; 2020 QiHang Hu <a href="https://github.com/A11Might/MiniBlog" title="主页">GitHub</a> - <a href="http://www.beian.miit.gov.cn/" title="信息产业部备案管理系统网址" target="_blank">陕ICP备19025889号</a>
    </span>
</nav>

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
        'use strict';
        window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
</body>
</html>