<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>首页</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a href="#" class="navbar-brand">Mini Blog</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <div class="navbar-nav">
                <a href="#" class="nav-item nav-link active">首页</a>
                <a href="#" class="nav-item nav-link">消息</a>
                <a href="#" class="nav-item nav-link">注册</a>
                <a href="#" class="nav-item nav-link">登录</a>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">username</a>
                    <div class="dropdown-menu">
                        <a href="#" class="dropdown-item">个人信息</a>
                        <a href="#" class="dropdown-item">退出登录</a>
                    </div>
                </li>
            </div>
        </ul>
        <form action="" class="form-inline my-2 my-md-0">
            <input type="text" class="form-control mr-sm-2" placeholder="请输入关键字">
            <button class="btn btn-outline-success my-2 my-md-0">搜索</button>
        </form>
    </div>
</nav>

<div class="container"><br>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">最新</a></li>
            <li class="breadcrumb-item"><a href="#">热门</a></li>
            <li class="breadcrumb-item"><a href="#">朋友圈</a></li>
        </ol>
    </nav>

    <div class="card">
        <div class="card-body">
            <label for="">发表新鲜事</label>
            <textarea class="form-control"></textarea>
            <br>
            <button type="button" class="btn btn-success btn-sm">发布</button>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-1">
                    <img src="../static/img/header.jpg" alt="" class="img-fluid">
                </div>
                <div class="col">
                    <h5 class="card-title">username</h5>
                    <h6 class="card-subtitle mb-2 text-muted">2020-03-11</h6>
                </div>
            </div>
            <p class="card-text">今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！</p>
            <button type="button" class="btn btn-outline-secondary btn-sm">点赞</button>
            <button type="button" class="btn btn-outline-secondary btn-sm">评论</button>
            <button type="button" class="btn btn-outline-secondary btn-sm">删除</button>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-1">
                    <img src="../static/img/header.jpg" alt="" class="img-fluid">
                </div>
                <div class="col">
                    <h5 class="card-title">username</h5>
                    <h6 class="card-subtitle mb-2 text-muted">2020-03-11</h6>
                </div>
            </div>
            <p class="card-text">今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！</p>
            <button type="button" class="btn btn-outline-secondary btn-sm">点赞</button>
            <button type="button" class="btn btn-outline-secondary btn-sm">评论</button>
            <button type="button" class="btn btn-outline-secondary btn-sm">删除</button>
        </div>
    </div><br>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-1">
                    <img src="../static/img/header.jpg" alt="" class="img-fluid">
                </div>
                <div class="col">
                    <h5 class="card-title">username</h5>
                    <h6 class="card-subtitle mb-2 text-muted">2020-03-11</h6>
                </div>
            </div>
            <p class="card-text">今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！</p>
            <button type="button" class="btn btn-outline-secondary btn-sm">点赞</button>
            <button type="button" class="btn btn-outline-secondary btn-sm">评论</button>
            <button type="button" class="btn btn-outline-secondary btn-sm">删除</button>
        </div>
    </div>
</div>
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/bootstrap.bundle.min.js"></script>
</body>
</html>