<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>首页</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a th:href="@{/index}" class="navbar-brand">Mini Blog</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <div class="navbar-nav">
                <a th:href="@{/index}" class="nav-item nav-link active">首页</a>
                <a href="#" class="nav-item nav-link" th:if="${loginUser!=null}">消息</a>
                <a th:href="@{/register}" class="nav-item nav-link" th:if="${loginUser==null}">注册</a>
                <a th:href="@{/login}" class="nav-item nav-link" th:if="${loginUser==null}">登录</a>
                <li class="nav-item dropdown" th:if="${loginUser!=null}">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" th:utext="${loginUser.username}">username</a>
                    <div class="dropdown-menu">
                        <a href="#" class="dropdown-item">个人信息</a>
                        <a th:href="@{logout}" class="dropdown-item">退出登录</a>
                    </div>
                </li>
            </div>
        </ul>
        <form action="" class="form-inline my-2 my-md-0">
            <input type="text" class="form-control mr-sm-2" placeholder="请输入关键字">
            <button class="btn btn-outline-success my-2 my-md-0">搜索</button>
        </form>
    </div>
</nav>

<div class="container"><br>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">最新</a></li>
            <li class="breadcrumb-item"><a href="#">热门</a></li>
            <li class="breadcrumb-item"><a href="#">朋友圈</a></li>
        </ol>
    </nav>

    <div class="card">
        <div class="card-body">
            <label for="">发表新鲜事</label>
            <textarea class="form-control"></textarea>
            <br>
            <button type="button" class="btn btn-success btn-sm">发布</button>
        </div>
    </div>
    <div th:each="vo:${VOList}">
        <br>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-1">
                        <img th:src="${vo.author.headerUrl}" alt="" class="img-fluid">
                    </div>
                    <div class="col">
                        <h5 class="card-title" th:utext="${vo.author.username}">username</h5>
                        <h6 class="card-subtitle mb-2 text-muted" th:text="${#dates.format(vo.post.createTime, 'yyyy-MM-dd HH:mm:ss')}">2020-03-11</h6>
                    </div>
                </div>
                <p class="card-text" th:utext="${vo.post.content}">今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！今天天气正好啊。嘿嘿！</p>
                <button type="button" class="btn btn-outline-secondary btn-sm">点赞</button>
                <button type="button" class="btn btn-outline-secondary btn-sm">评论</button>
                <button type="button" class="btn btn-outline-secondary btn-sm">删除</button>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-5">
        </div>
        <div class="col">
            <a th:class="|btn btn-primary btn-sm ${page.current==1?'disabled':''}|" th:href="@{${page.path}(current=${page.current-1})}">上一页</a>
        </div>
        <div class="col">
            <a th:class="|btn btn-primary btn-sm ${page.current>page.total?'disabled':''}|" th:href="@{${page.path}(current=${page.current+1})}">下一页</a>
        </div>
        <div class="col-5">
        </div>
    </div>
    <br>
</div>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>