<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xidian.miniblog.dao.FeedMapper">

    <sql id="selectFields">
        id, type, user_id, data, status, create_time
    </sql>

    <sql id="insertFields">
        type, user_id, data, status, create_time
    </sql>

    <insert id="insertFeed" keyProperty="id">
        insert into feed(<include refid="insertFields"></include>)
        values(#{type},#{userId},#{data},#{status},#{createTime})
    </insert>

    <select id="selectFeedById" resultType="com.xidian.miniblog.entity.Feed">
        select <include refid="selectFields"></include>
        from feed
        where id = #{id}
    </select>

    <select id="selectFeedsByUserIds" resultType="com.xidian.miniblog.entity.Feed">
        select <include refid="selectFields"></include>
        from feed
        <if test="userIds.size() != 0">
            where user_id in
            <foreach collection="userIds" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
        order by id desc
        limit #{offset}, #{limit}
    </select>

    <select id="selectFeedsCount" resultType="java.lang.Integer">
        select count(id)
        from feed
        where user_id in
        <foreach collection="userIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>


</mapper>